html, body {
	height: 100%;
}
body {
	font-family: Georgia, sans-serif;
	font-size: 62.5%;
	font-size: 16px;
	font-size: 1.6em;
}
.navbar {
	background: #00897b;
	padding: 20px 0;
}
.navbar a.navbar-brand, #signin > a, #signup > a {
	color: white;
}
.navbar a.navbar-brand {
	font-weight: 400;
	font-size: 24px;
	font-size: 2.4em;
}
.navbar a.navbar-brand:hover {
	color: #d9534f;
}
.navbar li > a {
	padding-top: 15px;
	padding-bottom: 10px;
}
.navbar li {
	margin: 0 10px;
}
#signin, #signup {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}
#signin:hover {
	background: #2c9d92;
}
#signup {
	background: #ff6f0c;
}
#signup:hover {
	background: #ff7c26;
}
#cart {
	position: absolute;
	top: 30px;
	right: 50%;
}
#cart > a {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}
#cart > a > span {
	position: absolute;
	top: -22px;
	left: 46px;
}
.my-hidden {
	display: none;
}
.empty-cart {
	background: #777;
	color: #fff;
}
.cart-has-item {
	background: #E68484;
	color: #231a1c;
}
#cart-title {
	padding-bottom: 20px;
}
footer {
	background: #00897b;
	color: #fff;
	padding: 40px;
}
#back-top a {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover > i {
	color: black;
}
#back-top a > i {
	position: fixed;
	bottom: 70px;
	right: 30px;
	font-size: 400%;
	color: green;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}


@media (max-width: 480px), (max-width: 767px) {
	#cart {
		position: absolute;
		top: 30px;
		right: 70px;
	}
	.navbar a.navbar-brand {
		font-weight: 400;
		font-size: 14px;
		font-size: 1.4em;
	}
	#books .book {
		margin: 0 auto;
	}
	#book .book .book-price,
	#book .book .book-title {
		font-size: 16px;
		font-size: 1.6em;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 62.5%;
		font-size: 16px;
		font-size: 1.6em;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	#books .book {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media (max-width: 480px) {
	#books .book .panel-footer button {
		float: none!important;
	}
}
